{#
    Section with sticky element on left or right side. 
    Non-sticky side can have many sections with content (image, title, text, cta). 
    Sticky side can have scrollspy navigation if enabled.

    @param {string} title 
    @param {string} text
    @param {bool}   enable_scrollspy - default set on false 
    @param {bool}   sticky_first - default set on false
    @param {array}  items
    {
        @param {string}   title
        @param {wysiwyg}  text
        @param {string}   image - image url
        @param {object}   cta {
            @param {string}   title
            @param {string}   link
        }
    }
#}

{# Output #}
<section class="c-sticky-aside container">
  <div class="row">
    <div class="col-12 lg:col-5 order-0 {{ params.sticky_first == true ? 'lg:order-1' : 'lg:order-0' }}">
      <div class="sticky top-8 mb-16 lg:mb-24">
      {% if params.title %}
      <h2 class="text-3xl lg:text-4xl mb-4 lg:mb-8 leading-tight">{{ params.title }}</h2>
      {% endif %}
      {% if params.text %}
      <div class="lg:text-xl mb-4 lg:mb-8">{{ params.text|raw }}</div>
      {% endif %}
      {% if params.enable_scrollspy == true %}
      <ul>
        {% for item in params.items %}
        <li><a href="#{{ item.title|replace({ ' ': '-' })|lower }}" class="scrollspy block py-2"><span class="inline-block mr-4">{{ loop.index < 10 ? '0' : '' }}{{ loop.index }}.</span>{{ item.title }}</a>
        {% endfor %}
      </ul>
      {% endif %}
      </div>
    </div>
     <div class="col-12 lg:col-7 mb-4 lg:mb-8">
      {% for item in params.items %}
        <section id="{{ item.title|replace({ ' ': '-' })|lower }}" class="mb-12 lg:mb-26">
            {% if item.image %}
            <div class="mb-4 lg:mb-8">
              <img src="{{ item.image }}" loading="lazy" alt="{{ item.title }}" class="w-full h-auto">
            </div>
            {% endif %}
            {% if item.title %}
            <h3 class="text-3xl lg:text-2xl mb-4 lg:mb-8 leading-tight">{{ item.title }}</h3>
            {% endif %}
            {% if item.text %}
            <div class="mb-4 lg:mb-8 leading-tight">{{ item.text|raw }}</div>
            {% endif %}
        </section>
      {% endfor %}
    </div>
  </div>
</section>